################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Project_1/.vs/Project1/v17
/Project_1/.vs/Project1/FileContentIndex
/Project_1/.vs
/Project_1/Debug
/Project_1/DGL/lib/x64
/Project_2/x64/Debug
/Project_2/Debug
/Project_2/.vs
/Project_2/Source.zip
/Project_2/~$oject2-Graphics.docx
/Project_5/.vs/Project5
